.form{
    /* margin: auto !important; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    width: 100vw !important;
}

.paper{
    width:60% !important;
    margin:  auto !important;
    border-radius: 8px !important;
}

#outlined-basic{
    color: rgb(0, 0, 0) !important;
}

.MuiButton-containedSecondary {
    margin-top: 3vh !important;
}

.box{
    /* background-color: #d16ceb; */
    border-radius: 8px;
    /* margin: 1%;
    margin-top: 1% !important; */
    height:auto;
    color: white !important;
}
